name: Continuos Integration
on:
    push:
        branches:
            - "**"
            - "!main"
        paths:
            - "**.go"
            - "**.mod"
    workflow_call:
jobs:
    test:
        strategy:
            matrix:
                go-version: [1.23.x, 1.24.x, 1.25.x]
                os: [ubuntu-latest, macos-latest, windows-latest]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
            - uses: actions/setup-go@v5
              with:
                  go-version: ${{ matrix.go-version }}
                  cache: true
            - run: go test ./... -v -count=1
