name: Semantic Release
on:
    push:
        branches:
            - main
jobs:
    test:
        uses: ./.github/workflows/ci.yml
    release:
        permissions:
            contents: write
        runs-on: ubuntu-latest
        needs:
            - test
        steps:
            - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
            - uses: go-semantic-release/action@v1
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
